body{
    
}
#test{
    width: 220px;
    height: 220px;
    font-size: 6rem;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}